<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="QAndA" connectionString="server=.\SQLExpress;database=QAndA;trusted_connection=true"/>
  </connectionStrings>
  <unity>
    <typeAliases>
      <typeAlias alias="IQuestionDataAccess" type="QAndADataAccess.IQuestionDataAccess, QAndADataAccess" />
      <typeAlias alias="QuestionDataAccessDAO" type="QAndADataAccessDAO.QuestionDataAccessDAO, QAndADataAccessDAO" />
    </typeAliases>
    <containers>
      <container>
        <types>
          <type type="IQuestionDataAccess" mapTo="QuestionDataAccessDAO" >
            <typeConfig>
              <constructor>
                <param name="connectionString" parameterType="System.String">
                  <value value="server=.\SQLExpress;database=QAndA;trusted_connection=true"/>
                </param>
              </constructor>
            </typeConfig>
          </type>
        </types>
      </container>
    </containers>
  </unity>
</configuration>
